#root{
  margin: 0;
  background-color: #ffd494a9;
  max-width: 100%;
  overflow-x: hidden;
}


.App {
  text-align: center;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.main-content {
  max-width: 1344px;
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

.container-fluid {
  margin:auto;
  padding: 1rem;
}

.title {
  margin-bottom: 2rem;
  font-size: 1.75rem;
}

/* Loader */

@keyframes placeHolderShimmer {
  0% {
    background-position: -500px 0
  }
  100% {
    background-position: 500px 0
  }
}

.placeholder-loader {
  color: transparent !important;
  user-select: none;
  position: relative;
  border-radius: calc(var(--radius) * 2);

  &::after {
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 0;
    right: 0;
    display: block;
    animation-duration: 1.75s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-size: 1000px 100%;
    background: linear-gradient(to right, #F8F8F8 8%, darken(#F8F8F8, 5%) 18%, #F8F8F8 33%) 5px 5px;
    border-radius: 10px;
    content: ' '
  }
}

/* End Loader*/

.placeholder-loader .big {
  width: 200px;
  height: 200px;
}

.placeholder-loader-bg {
  background-color: var(--gray-light);
  color: transparent !important;
}

.placeholder-loader-empty {
  color: transparent !important;
}

/*Hero*/
.hero{
  width: 1000px ; 
  
  display:block;
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-align:center;
}
.heroCategory{
  width: 1500px ; 
  display:block;
  margin:2rem auto;
  text-align:center;  
}
/*Navbar*/
.navbar {
  background-color:#FF9900; 
  height: 60px !important;
  padding: 0!important;    
}
.navbar-navbar-expand-lg-navbar-light{
  height: 80px !important;  
  padding-right: 500px !important;
}
.navbar-collapse{
  position: left !important;
}
.logo{
  margin-left: 205px !important;
  color: white !important;
  font-size: 36px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}
.buttonNav{
  background-color: #f8ad3c;
  border:none;
  margin-right: 30px;
}
.buttonNav:hover{
      background-color: white;
      color: #f8ad3c;
    }
.buttonNav:onclick{
  background-color: white;
      color: #f8ad3c;
}
.mr-sm-2{
margin-left: 20rem;
}
/*card*/
.card-custom{
  text-align: center;  
  border: none;
  margin: 0 auto; 
  float: none; 
  margin-bottom: 80px;
  margin-left: 30px;
  margin-right: 30px;
  align-items: stretch;
  box-shadow: 7px 7px 7px #a5875b9f;
 
  .card-header{
    font-size: 30px;
    font-weight: 700;
    background-color: #FF9900;
  
  color: white !important;
  font-size: 30px;
  }
  .card-title.h5{
    font-size: 20px;
    color: rgb(65, 65, 65);
  }
  .card-text{
    color: gray;
    
  }
  button.btn.btn-primary{
    background-color: #FF9900;
    border: none;            
  }
  .btn-primary:hover{
    color:#FF9900 important !important;
    background-color: white;
  }
.card-body{
  background-color: #fac26d;
  color: rgba(0, 0, 0, 0.705) !important;
  
}
.col-md-3{
  padding-left: 30px;
  padding-right: 30px;
}
}
.buttonCart{
  background-color: #FF9900;
  border:none;
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-weight: 500;
}
/*Footer*/
.fixed-bottom{
  background-color: #FF9900;
}
/*Login*/
.form-group{
  margin: 50px;
  margin-bottom: 100px;
  
}
.btnLogin{
    background-color: #FF9900;
    border: none; 
    margin-bottom: 250px;
    
  }
  .btnLogin:hover{
    color:#FF9900 ;
    background-color: white;    
  }

.h1log{
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-top: 70px;
}
.sublog{
  text-align: center;
  color: rgb(75, 75, 75);
}
.form-label{
  font-size: 25px;
}
/*Alert*/
.alert{
  text-align: center;
  padding: 50px;
  margin: 50px;
  margin-bottom: 500px;
  .alert-heading{
    font-size: 50px;
  }
  .alertdescription{
    font-size: 30px;
  }
}

/*Carrello*/
.boxTable{
  margin: 50px;
  text-align: center;
  border: 0,5px solid black;
  background-color:white;
  margin-bottom: 100%;
  
}
